In [1]:
import numpy as np
import pandas as pd

# Step 1: Sum of samples

In [2]:
test_df=pd.DataFrame(data=np.random.normal(size=(5,6)), columns=['a1', 'a2', 'b1', 'b2', 'c1', 'c2'])

In [3]:
test_df

         a1        a2        b1        b2        c1        c2
0 -1.287313 -1.018838  1.708084  0.182144 -0.637373  0.868529
1  1.112640  1.251636 -0.887393 -0.746426 -1.025238 -0.448205
2  0.513577  0.449417 -0.264587  0.736960  0.758441  1.136235
3 -0.457859  0.112943 -0.662836  1.501858 -0.202472  0.147131
4  1.308084  0.295350 -1.236543  1.141135 -0.415899 -2.029379

In [4]:
first_two=test_df.iloc[:, 0:2]
first_two

         a1        a2
0 -1.287313 -1.018838
1  1.112640  1.251636
2  0.513577  0.449417
3 -0.457859  0.112943
4  1.308084  0.295350

In [5]:
first_two.sum(axis=1)

0   -2.306152
1    2.364276
2    0.962994
3   -0.344916
4    1.603434
dtype: float64

In [6]:
korey=pd.read_csv('Pipe_116-April2020.csv', index_col=0)
korey.head()

,row m/z,row retention time,116APW.raw filtered Peak height,116MTBE.raw filtered Peak height,116TA.raw filtered Peak height,Auvaursi_pipe-APW.raw filtered Peak height,Auvaursi_pipe-MTBE.raw filtered Peak height,Auvaursi_pipe-TA.raw filtered Peak height,Csericea_pipe-APW.raw filtered Peak height,Csericea_pipe-MTBE.raw filtered Peak height,...,Ntabacum_pipe-TA.raw filtered Peak height,Rglabra_pipe-APW.raw filtered Peak height,Rglabra_pipe-MTBE.raw filtered Peak height,Rglabra_pipe-TA.raw filtered Peak height,Tbrevifolia_pipe-APW.raw filtered Peak height,Tbrevifolia_pipe-MTBE.raw filtered Peak height,Tbrevifolia_pipe-TA.raw filtered Peak height,Blank_pipe-APW.raw filtered Peak height,Blank_pipe-MTBE.raw filtered Peak height,Blank_pipe-TA.raw filtered Peak height
row ID,,,,,,,,,,,,,,,,,,,,,
1,275.214264,7.667773,1369927,22503,124292,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,269.086212,8.850513,544945,20248,91032,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,200.146275,5.573078,442109,11029,44936,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,244.200845,7.492164,381794,37021,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,169.077270,3.974440,325014,0,12271,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
s='Auvaursi_pipe-APW.raw filtered Peak height'
s.split('.')[0]

'Auvaursi_pipe-APW'

In [8]:
korey.columns

Index(['row m/z', 'row retention time', '116APW.raw filtered Peak height',
       '116MTBE.raw filtered Peak height', '116TA.raw filtered Peak height',
       'Auvaursi_pipe-APW.raw filtered Peak height',
       'Auvaursi_pipe-MTBE.raw filtered Peak height',
       'Auvaursi_pipe-TA.raw filtered Peak height',
       'Csericea_pipe-APW.raw filtered Peak height',
       'Csericea_pipe-MTBE.raw filtered Peak height',
       'Csericea_pipe-TA.raw filtered Peak height',
       'Nattenuata_pipe-APW.raw filtered Peak height',
       'Nattenuata_pipe-MTBE.raw filtered Peak height',
       'Nattenuata_pipe-TA.raw filtered Peak height',
       'Nquadrivalvis_pipe-APW.raw filtered Peak height',
       'Nquadrivalvis_pipe-MTBE.raw filtered Peak height',
       'Nquadrivalvis_pipe-TA.raw filtered Peak height',
       'Nrustica_pipe-APW.raw filtered Peak height',
       'Nrustica_pipe-MTBE.raw filtered Peak height',
       'Nrustica_pipe-TA.raw filtered Peak height',
       'Ntabacum_pipe-APW.raw filtered Peak height',
       'Ntabacum_pipe-MTBE.raw filtered Peak height',
       'Ntabacum_pipe-TA.raw filtered Peak height',
       'Rglabra_pipe-APW.raw filtered Peak height',
       'Rglabra_pipe-MTBE.raw filtered Peak height',
       'Rglabra_pipe-TA.raw filtered Peak height',
       'Tbrevifolia_pipe-APW.raw filtered Peak height',
       'Tbrevifolia_pipe-MTBE.raw filtered Peak height',
       'Tbrevifolia_pipe-TA.raw filtered Peak height',
       'Blank_pipe-APW.raw filtered Peak height',
       'Blank_pipe-MTBE.raw filtered Peak height',
       'Blank_pipe-TA.raw filtered Peak height'],
      dtype='object')

In [9]:
def first_step(data, number_of_samples, number_of_groups):
    """    
    number_of_samples: the number of different samples for each group. 
    
    number_of_groups: the number of different groups. 
    
    return the result whether we compute the sum for each group. 
    """
    
    s=number_of_samples
    g=number_of_groups
    df=pd.DataFrame()
    for i in range(number_of_groups):
        name=data.columns[i*s].split('.')[0]
        df[name]=data.iloc[:, i*s: (i+1)*s].sum(axis=1)
    return df

In [10]:
first_step(data=test_df, number_of_samples= 2, number_of_groups=3)

         a1        b1        c1
0 -2.306152  1.890228  0.231156
1  2.364276 -1.633819 -1.473443
2  0.962994  0.472373  1.894676
3 -0.344916  0.839023 -0.055341
4  1.603434 -0.095408 -2.445278

In [11]:
first_step(data=korey.iloc[:, 2:], number_of_samples=3, number_of_groups=10)

,116APW,Auvaursi_pipe-APW,Csericea_pipe-APW,Nattenuata_pipe-APW,Nquadrivalvis_pipe-APW,Nrustica_pipe-APW,Ntabacum_pipe-APW,Rglabra_pipe-APW,Tbrevifolia_pipe-APW,Blank_pipe-APW
row ID,,,,,,,,,,
1,1516722,0,0,0,0,0,0,0,0,0
2,656225,0,0,0,0,0,0,0,0,0
3,498074,0,0,0,0,0,0,0,0,0
4,418815,0,0,0,0,0,0,0,0,0
5,337285,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
5109,0,0,0,0,0,0,0,0,0,0
5110,0,0,0,0,0,0,0,0,0,0
5111,0,0,0,0,0,0,0,0,0,0
5112,0,0,0,0,0,0,0,0,0,0
5113,0,0,0,0,0,0,0,0,0,0

In [12]:
len(korey.columns)

32

# Step 2: Remove rows with all zeros.

In [13]:
d1={'a':[0,1,1, -2], 'b': [0, 1, 2,1], 'c': [0,0,1,1], 'd':[0, 1, 0,0]}
df=pd.DataFrame.from_dict(d1)
df

   a  b  c  d
0  0  0  0  0
1  1  1  0  1
2  1  2  1  0
3 -2  1  1  0

In [74]:
row_sum=df.sum(axis=1)
df[row_sum==0]

   a  b  c  d
0  0  0  0  0
3 -2  1  1  0

In [105]:
def second_step(df):
    """
    compute out and in of sample

    """
    d={}
    columns=df.columns.to_list()
    target=columns[0]
    columns.remove(target)
    for sample in columns: 
        df_sample=df[df[sample]>0]
        out=0
        common=0
        for i in range(len(df_sample)):
            new_columns=[x for x in columns if x != sample]
            if df_sample[new_columns].sum(axis=1).iloc[i]==0 and df_sample[target].iloc[i]==0:
                out +=1
            if df_sample[new_columns].sum(axis=1).iloc[i]==0 and df_sample[target].iloc[i]>0:
                common +=1
        d[sample]=[common, common+out, 100* common*1.0/(common+out)]       
    result=pd.DataFrame.from_dict(d)
    result=result.rename(index={0:'shared', 1: 'out of ', 2: 'percent_shared'})
    return result

In [106]:
final_result=second_step(first)
final_result

,Auvaursi_pipe-APW,Csericea_pipe-APW,Nattenuata_pipe-APW,Nquadrivalvis_pipe-APW,Nrustica_pipe-APW,Ntabacum_pipe-APW,Rglabra_pipe-APW,Tbrevifolia_pipe-APW,Blank_pipe-APW
shared,5.00000,6.000000,0.0,8.000000,3.000000,2.000000,33.000000,5.000000,2.000000
out of,108.00000,65.000000,71.0,152.000000,46.000000,39.000000,452.000000,545.000000,37.000000
percent_shared,4.62963,9.230769,0.0,5.263158,6.521739,5.128205,7.300885,0.917431,5.405405

In [107]:
final_result.to_excel('final_result.xlsx')

In [76]:
first=first_step(data=korey.iloc[:, 2:], number_of_samples=3, number_of_groups=10)
first.sample(5)

,116APW,Auvaursi_pipe-APW,Csericea_pipe-APW,Nattenuata_pipe-APW,Nquadrivalvis_pipe-APW,Nrustica_pipe-APW,Ntabacum_pipe-APW,Rglabra_pipe-APW,Tbrevifolia_pipe-APW,Blank_pipe-APW
row ID,,,,,,,,,,
1512,0,17069,0,24978,0,15264,0,0,0,0
1901,0,0,0,14126,0,21357,13603,0,0,0
4938,0,0,0,0,0,0,0,0,0,0
1283,0,194371,77359,899418,784181,972741,10543,213209,0,0
4221,0,0,0,0,0,0,0,0,0,0

In [38]:
columns=first_step.iloc[:, 1:].columns.to_list()
type(columns)

list

In [54]:
first_step[columns].sum(axis=1).iloc[5]

1730128

In [57]:
first_step[new_columns].sum(axis=1).iloc[5]+first_step['Nattenuata_pipe-APW'].iloc[5]

1730128

In [56]:
first_step['Nattenuata_pipe-APW'].iloc[5]

154350

In [47]:
columns

['Auvaursi_pipe-APW',
 'Csericea_pipe-APW',
 'Nattenuata_pipe-APW',
 'Nquadrivalvis_pipe-APW',
 'Nrustica_pipe-APW',
 'Ntabacum_pipe-APW',
 'Rglabra_pipe-APW',
 'Tbrevifolia_pipe-APW',
 'Blank_pipe-APW']

In [49]:
new_columns=columns[:2]+columns[3:]
new_columns

['Auvaursi_pipe-APW',
 'Csericea_pipe-APW',
 'Nquadrivalvis_pipe-APW',
 'Nrustica_pipe-APW',
 'Ntabacum_pipe-APW',
 'Rglabra_pipe-APW',
 'Tbrevifolia_pipe-APW',
 'Blank_pipe-APW']

In [41]:
first_step[columns[0]]

row ID
1       0
2       0
3       0
4       0
5       0
       ..
5109    0
5110    0
5111    0
5112    0
5113    0
Name: Auvaursi_pipe-APW, Length: 5113, dtype: int64